.container-depoimentos {
  display: flex;
  width: 250px;
  height: 180px;
  background-color: #FEF7FF;
  padding: 12px 24px 12px 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  .content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
  .nome-pessoa {
    font-weight: bold;
  }
}
